*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    font-size: 48px;
    font-family: monospace;
    overflow: hidden;
    color: #fff;
}