*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.text-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 40px;
    padding: 30px;
}

.style-1 span{
    color: aqua;
    width: 20%;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.subscribe{
        text-align: center;
        padding-top: 30px;
        color: aquamarine;
        border: 20px solid;
        border-radius: 10px solid aqua;
        width: 200px;
        margin-left: 200px;
    

}