
.flex-container{
    background-color: aqua;
    padding: 5px;
    flex-direction: row;
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 100%; */
  
    
}



.flex-item{
    background-color: white;
    padding: 5px;
    /* width: 200px; */
    margin: 5px;
    font-size: 2rem;
    flex-basis: 500px;
}

.shopify {
    background-image: url(./images/6-q85@s1080.webp\ pics.webp);
    background-size: contain;
    width: 100%;
    
}

.shopify div{
    border: 2px solid black;
    text-align: center;
}
h1{
    color: rgb(44, 231, 44);
}
h2{
    color: white;
}
p{
    color: white;
}
#trial {
    background-color: black;
    color: white;
    margin: 0 60vh;
    
    
}
form input {
    margin: 0 60px;
   

    
    
}
h6 {
    font-size: 0.5rem;
    color: white;
    text-align: center;
}
img {
    width: 30vw;
    height: 35vh;
    margin: 0 35vw;
}